<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增仓位管理，用于记录正股和期权的仓位详情')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-management-add">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">券商名称</label>
                <div class="col-sm-8">
                    <select name="accountName" class="form-control" required>
                        <option value="LongBridge HK">LongBridge HK</option>
                        <option value="FUTU HK">FUTU HK</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">ticker</label>
                <div class="col-sm-8">
                    <input name="tickerSymbol" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">交易方向</label>
                <div class="col-sm-8">
                    <select name="tradeDirection" class="form-control" required>
                        <option value="BUY">BUY</option>
                        <option value="SELL">SELL</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">交易类型</label>
                <div class="col-sm-8">
                    <select name="tradeType" class="form-control" required>
                        <option value="STOCK">正股</option>
                        <option value="OPTION">期权</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">成交日期</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="tradeDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">订单数量</label>
                <div class="col-sm-8">
                    <input name="quantity" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">订单单价</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text" required>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">交易总价</label>
                <div class="col-sm-8">
                    <input name="totalPrice" class="form-control" type="text" readonly>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">是否已平仓</label>
                <div class="col-sm-8">
                    <select name="isClosed" class="form-control" required>
                        <option value="0" selected>否</option>
                        <option value="1">是</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">期权策略</label>
                <div class="col-sm-8">
                    <select name="optionStrategy" class="form-control">
                        <option value="Covered Call" selected>Covered Call</option>
                        <option value="Cash Secured Put" selected>Cash Secured Put</option>
                        <option value="Bull Call Spread" selected>Bull Call Spread</option>
                        <option value="Bull Put Spread" selected>Bull Put Spread</option>
                        <option value="Single-Leg Call" selected>Single-Leg Call</option>
                        <option value="Single-Leg Put" selected>Single-Leg Put</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">盈亏金额</label>
                <div class="col-sm-8">
                    <input name="profitLoss" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">是否盈利</label>
                <div class="col-sm-8">
                    <input name="isProfitable" class="form-control" type="text" readonly disabled>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">平仓单价</label>
                <div class="col-sm-8">
                    <input name="closingPrice" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">平仓总价</label>
                <div class="col-sm-8">
                    <input name="closingTotalPrice" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">平仓日期</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="closingDate" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var prefix = ctx + "system/management";
    $("#form-management-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-management-add').serialize());
        }
    }

    $("input[name='tradeDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='closingDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>
